# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Ignore migrations pycache
**/migrations/__pycache__/

# VSCode settings
.vscode/

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Logs
*.log

# Python test cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Django collectstatic output
staticfiles/

# Ignore media uploads (your media/products/ images)
media/

# Ignore system files
Thumbs.db
