{% extends 'base.html' %}
{% block title %}Checkout - Nature Touch{% endblock %}

{% block content %}
<div class="container px-3">
  <h2 class="fw-bold text-center mb-4">Checkout</h2>

  <form method="POST">
    {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card p-4 shadow-sm">

          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input type="email" name="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" name="phone" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Delivery Address</label>
            <textarea name="address" class="form-control" rows="3" required></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Payment Method</label>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment_method" value="cod" checked>
              <label class="form-check-label">
                Cash on Delivery (COD)
              </label>
            </div>

            <div class="form-check mt-1">
              <input class="form-check-input" type="radio" name="payment_method" value="khalti">
              <label class="form-check-label">
                Pay with Khalti
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-success w-100 py-2">
            Place Order
          </button>

        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}